# Assignment

In [16]:
import numpy as np

In [17]:
#Question 1:
#Create a numpy 3d array with shape (5,3,4); Data = 1 to 60

In [21]:
a = np.arange(1,61).reshape(5,3,4)
a

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[13, 14, 15, 16],
        [17, 18, 19, 20],
        [21, 22, 23, 24]],

       [[25, 26, 27, 28],
        [29, 30, 31, 32],
        [33, 34, 35, 36]],

       [[37, 38, 39, 40],
        [41, 42, 43, 44],
        [45, 46, 47, 48]],

       [[49, 50, 51, 52],
        [53, 54, 55, 56],
        [57, 58, 59, 60]]])

In [22]:
a.ndim

3

In [23]:
#Question 2:
#Reshape above NumPy 3d array to 20x3

In [24]:
a.reshape(20,3)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15],
       [16, 17, 18],
       [19, 20, 21],
       [22, 23, 24],
       [25, 26, 27],
       [28, 29, 30],
       [31, 32, 33],
       [34, 35, 36],
       [37, 38, 39],
       [40, 41, 42],
       [43, 44, 45],
       [46, 47, 48],
       [49, 50, 51],
       [52, 53, 54],
       [55, 56, 57],
       [58, 59, 60]])

In [36]:
import pandas as pd

In [ ]:
#Question 3:
#Create NumPy array of below marks table. Write code to find highlighted

In [37]:
b=pd.read_excel("D:\File\Subhadipa_A_1.xlsx" )

In [38]:
b

     Subjects  Ravi   Sunil   Sekhar
0      Maths      58      62       85
1    Physics      45      76       92
2  Chemistry      72      85       91
3    English      32      51       81

In [46]:
c=b.drop(['Subjects'], axis=1)
c

   Ravi   Sunil   Sekhar
0     58      62       85
1     45      76       92
2     72      85       91
3     32      51       81

In [47]:
c.min(axis=0)

Ravi       32
Sunil      51
Sekhar     81
dtype: int64

In [48]:
c.mean(axis=0)

Ravi       51.75
Sunil      68.50
Sekhar     87.25
dtype: float64

In [49]:
c.min(axis=1)

0    58
1    45
2    72
3    32
dtype: int64

In [50]:
c.mean(axis=1)

0    68.333333
1    71.000000
2    82.666667
3    54.666667
dtype: float64

In [51]:
#Question 4:
#Write differences between Python lists vs Numpy arrays

In [ ]:
'''
Python lists vs NumPy array

Python Lists                                               |   Numpy Array
The list can be heterogeneous or                           | Arrays are by default homogenous
homogeneous.                                               |
Elements of the list need not be contiguous in memory.     | Elements in an array are stored in contiguous memory 
                                                           |     and are memory-efficient.
                                                           |
Element wise operation is not possible                     | Element wise operation possible
                               
'''